<div class="full-height scroll-bar">
  <div class="row">
    <div class="col s12 m6 l6 flow-text">
      <h3><%= @item.name%></h3>
      <p><%= @item.description %></p>
      <p><%= @item.price %></p>
      <% if !@item.categories.empty?%>
        <p>
          <p>
          Category: 
          <%= @item.categories[0].name %>
          </p>
        </p>
      <% end %>
      <% if @item.flag == true %>
        <%= button_to "Add to cart", cart_items_path(item_id: @item.id), :class=>"btn btn-success" %>
      <% else %>
        <p>Out of stock</p>
      <% end %>
      <% if user_signed_in?%>
        <% if policy(@item).edit? %>
          <%= link_to "Edit Item", edit_item_path(@item), :class=>"btn btn-success" %>                    
        <%end%>
        <% if policy(@item).update? %>
          <%= form_with model: @item, url: edit_status_path(@item.id), method: :patch  do |f| %>
            <%= f.select :flag, [true, false], selected: @item.flag %>
            <%= f.submit "Change Status", :class=>"btn btn-success"%>
          <% end %>
        <% end %>

      <%end%>
    </div>

    <div class="container col s12 m6 l6">
      <%= image_tag @item.avatar, id: "drag1" %>
    </div>
  </div>

</div>
