<div class="row container full-height scroll-bar">
<h4>Create new item category</h4>
  <%= form_for @category, :html => { :multipart => true, :class => "col s12" } do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%=f.text_field :name, :class => "validate" %>
        <%= f.label :name %>
        <div class = "error"><%= @category.errors.messages[:name][0] %></div>
      </div>
    </div>
    
  <%= f.submit "Save", :class => "btn waves-effect waves-light" %>
  <% end %>
</div>
