<!DOCTYPE html>
<html>
  <head>
    <title>DinnerDash</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= stylesheet_link_tag    "full-theme/welcome", media: 'all', 'data-turbolinks-track' => false %> %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'layouts/flash_messages' %>
    <div class="background">
      <%= render 'layouts/header' %>
      <main>
        <%= yield %>
      </main><!--End of main-->
      <%= render 'layouts/footer' %>
    </div><!-- end of container main-->
  </div>
  </body>
</html>
